<%- include('header.html') %>
<% if(!user){ %>
<div class="jumbotron">
	<h1>欢迎来到Microblog</h1>
	<p>Microblog 是一个基于nodejs的微博系统</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登录</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>
<% }else{ %>
<div class="row">
	<form role="form" class="col-md-6 col-md-offset-3" enctype="multipart/form-data" action="/" method="post">
		<textarea class="form-control" rows="3" name="article"></textarea>
		<div class="form-group">
		<label for="exampleInputFile">图片上传</label>
		    <input type="file" name="image" id="exampleInputFile">
		</div>
		<button type="submit" class="btn btn-default">发表</button>
	</form>
	<% if(articles){ %>
	<div class="col-md-6 col-md-offset-3">
		<% for(var i=0;i<articles.length;i++){%>
		<p class="well well-lg"><img class="img" src="<%=articles[i].image %>"/><%=articles[i].article%></p>
		<%}%>
	</div>
	<% } %>
</div>
<% } %>
<%- include('footer.html') %>